<ion-header>
  <ion-toolbar>
    <ion-title>รายละเอียดผู้ดูแลระบบ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>

  <div *ngIf="getadmin != null">
      <h3 *ngIf="getStatus == 1">ข้อมูลผู้ดูแลระบบ</h3>
    <h3 *ngIf="getStatus == 2">แก้ไขข้อมูลผู้ดูแลระบบ</h3>
    <ion-item>
      <ion-label>คำนำหน้า :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_article"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ชื่อผู้ดูแลระบบ :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>รหัสผู้ใช้งาน :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>รหัสผ่านผู้ใช้งาน :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_passwd"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>เพศ :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_sex"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>เบอร์โทร :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_tell"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>ที่อยู่ :</ion-label>
      <ion-input [readonly]="isReadonly" [(ngModel)]="getadmin.admin_address"></ion-input>
    </ion-item>
    <br><br>

    <div *ngIf="getStatus == 1">
      <ion-button (click)="change()">แก้ไขข้อมูล</ion-button>
    </div>

    <div *ngIf="getStatus == 2">
      <ion-button (click)="editdata()">บันทึกข้อมูล</ion-button>
    </div>

  </div>


</ion-content>
