<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>แพทย์</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
    <h3>รายชื่อแพทย์</h3>
    <ion-row>
        <ion-col>
          <h5>ชื่อแพทย์</h5>
        </ion-col>
    
        <ion-col>
          <h5>รหัสผู้ใช้งาน</h5>
        </ion-col>
    
        <ion-col>
          <h5>รหัสผ่านผู้ใช้งาน</h5>
        </ion-col>
    
        <ion-col>
          <h5>ดูข้อมูล</h5>
        </ion-col>
    
        <ion-col>
          <h5>แก้ไขข้อมูล</h5>
        </ion-col>
    
        <ion-col>
          <h5>ลบข้อมูล</h5>
        </ion-col>
      </ion-row>

      <ion-item text-center *ngFor="let item of getdata">
          <ion-col>
              <ion-label>{{ item.dr_name }}</ion-label>
            </ion-col>
        
            <ion-col>
              <ion-label>{{ item.dr_user }}</ion-label>
            </ion-col>
        
            <ion-col>
              <ion-label>{{ item.dr_passwd }}</ion-label>
            </ion-col>
        
            <ion-col>
              <ion-button (click)="gotoDetail(item.dr_id)">
                <ion-icon name="eye"></ion-icon>
              </ion-button>
            </ion-col>
        
            <ion-col>
                <ion-button color="warning" (click)="gotoEdit(item.dr_id)">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
            </ion-col>
        
            <ion-col>
                <ion-button color="danger" (click)="delDoctor(item.dr_id)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
            </ion-col>
      </ion-item>
</ion-content>
