<ion-header>
  <ion-toolbar class="bar">
    <ion-title>
      หน้าหลัก
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <h3>ประวัติการล็อกอินเข้าใช้งาน</h3>
  <ion-row class="row">
    <ion-col>
      <h5>ชื่อผู้ใช้งาน</h5>
    </ion-col>

    <ion-col>
      <h5>Usrename</h5>
    </ion-col>

    <ion-col>
      <h5>รหัสผ่านผู้ใช้งาน</h5>
    </ion-col>

    <ion-col>
      <h5>ประเภทผู้ใช้งาน</h5>
    </ion-col>

    <ion-col>
      <h5>วันที่ใช้งาน</h5>
    </ion-col>

    <ion-col>
      <h5>เวลาใช้งาน</h5>
    </ion-col>
  </ion-row>

  <ion-item text-center *ngFor="let item of getData">
    <ion-col>
      <ion-label>{{ item.login_name }}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ item.login_username }}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ item.login_password }}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ item.login_type }}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ item.login_date }}</ion-label>
    </ion-col>

    <ion-col>
      <ion-label>{{ item.login_time }}</ion-label>
    </ion-col>
  </ion-item>

</ion-content>